import { BaseCommand } from '@adonisjs/core/ace'
import { CommandOptions } from '@adonisjs/core/types/ace'
import AutoSwagger from '@gabbrieu/adonis-autoswagger'
import swagger from '#config/swagger'

export default class DocsGenerate extends BaseCommand {
  static commandName = 'docs:generate'

  static options: CommandOptions = {
    startApp: true,
    allowUnknownFlags: false,
    staysAlive: false,
  }

  async run() {
    const router = await this.app.container.make('router')
    router.commit()
    await AutoSwagger.writeFile(router.toJSON(), swagger)
  }
}
